/*
 * Licensed Materials - Property of IBM
 * 5737-C49
 * 5737-B37
 * 5737-D37
 * (C) Copyright IBM Corp. 2015, 2018    All Rights Reserved.
 * US Government Users Restricted Rights - Use, duplication or disclosure
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 * This file, "custom.css", gets embedded in HTML exports of notebooks.
 * Above notice applies only to the contents of "custom.css" itself,
 * not to the the rest of the notebooks in which the file is embedded.
 */

/*for the error, connecting & renaming window*/

[dir="rtl"] .modal-footer {
  text-align : left !important;
}

[dir="rtl"] .close {
  float : left;
}

[dir="rtl"] .fa-step-forward::before {
content: "\f048";
}


/*GENERAL NOTEBOOK SITE*/

/* COLOURS */
/* CARBON 10 GRAY 10 */
html {
	--carbon-ui-background: #F4F4F4;
	--carbon-interactive-01: #0F62FE;
	--carbon-interactive-02: #393939;
	--carbon-interactive-03: #0F62FE;
	--carbon-interactive-04: #0F62FE;
	--carbon-hover-primary: #0353e9;
	--carbon-hover-ui: #E5E5E5;
	--carbon-danger: #DA1E28;
	--carbon-ui-01: #FFFFFF;
	--carbon-ui-02: #F4F4F4;
	--carbon-ui-03: #E0E0E0;
	--carbon-ui-04: #8D8D8D;
	--carbon-ui-05: #161616;
	--carbon-text-01: #161616;
	--carbon-text-02: #393939;
	--carbon-text-03: #A8A8A8;
	--carbon-text-04: #FFFFFF;
	--carbon-text-05: #6F6F6F;
	--carbon-link-01: #0F62FE;
	--carbon-inverse-link: #78A9FF;
	--carbon-icon-01: #161616;
	--carbon-icon-02: #525252;
	--carbon-icon-03: #FFFFFF;
	--carbon-field-01: #FFFFFF;
	--carbon-field-02: #F4F4F4;
	--carbon-inverse-01: #FFFFFF;
	--carbon-inverse-02: #393939;
	--carbon-support-01: #DA1E28;
	--carbon-support-02: #24A148;
	--carbon-support-03: #F1C21B;
	--carbon-support-04: #0043CE;
	--carbon-inverse-support-01: #FA4D56;
	--carbon-inverse-support-02: #42BE65;
	--carbon-inverse-support-03: #F1C21B;
	--carbon-inverse-support-04: #4589FF;
	--carbon-overlay-01: rgba(22, 22, 22, 0.5);
	--carbon-overlay-02: rgba(22, 22, 22, 0.05);
}

/* CARBON 10 GRAY 90 */
/* html {
	--carbon-ui-background: #262626;
	--carbon-interactive-01: #0f62fe;
	--carbon-interactive-02: #6f6f6f;
	--carbon-interactive-03: #ffffff;
	--carbon-interactive-04: #4589ff;
	--carbon-hover-primary: #0353e9;
	--carbon-hover-ui: #4c4c4c;
	--carbon-danger: #da1e28;
	--carbon-ui-01: #393939;
	--carbon-ui-02: #525252;
	--carbon-ui-03: #525252;
	--carbon-ui-04: #8d8d8d;
	--carbon-ui-05: #f4f4f4;
	--carbon-text-01: #f4f4f4;
	--carbon-text-02: #c6c6c6;
	--carbon-text-03: #6f6f6f;
	--carbon-text-04: #ffffff;
	--carbon-text-05: #8d8d8d;
	--carbon-link-01: #78a9ff;
	--carbon-inverse-link: #0f62fe;
	--carbon-icon-01: #f4f4f4;
	--carbon-icon-02: #c6c6c6;
	--carbon-icon-03: #ffffff;
	--carbon-field-01: #393939;
	--carbon-field-02: #525252;
	--carbon-inverse-01: #161616;
	--carbon-inverse-02: #f4f4f4;
	--carbon-support-01: #fa4d56;
	--carbon-support-02: #42be65;
	--carbon-support-03: #f1c21b;
	--carbon-support-04: #4589ff;
	--carbon-inverse-support-01: #da1e28;
	--carbon-inverse-support-02: #24a148;
	--carbon-inverse-support-03: #f1c21b;
	--carbon-inverse-support-04: #0f62fe;
	--carbon-overlay-01: rgba(22, 22, 22, 0.7);
	--carbon-overlay-02: rgba(22, 22, 22, 0.2);
} */

html, body {
/*Return the root to 16px for safe usage of rem unit*/
font-size: 100%;
height: 100%;
width: 100%;
background-color: var(--carbon-ui-background);
}

body {
margin: 0;
padding: 0;
border: 0;
color: var(--carbon-text-02);
font-weight: 400;
/* Font-size fix for bluemix header (part 1) */
font-size: 100%;
line-height: 1.68;
font-family: 'ibm-plex-sans', 'Helvetica Neue for IBM', 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;
}

/*.notebook_app only adresses stuff on the notebook ui not the tree*/

.notebook_app {
font-size: 0.875rem;
background-color: transparent;
}

.notebook_app .container {
width: 100% !important;
}

.notebook_app #notebook {
padding-top: 0;
}

/*HEADER AND NAVBAR*/

.notebook_app div#header-container {
display: none !important;
}

.notebook_app #header {
background-color: var(--carbon-ui-background);
box-shadow: none;
}

.notebook_app #menubar {
margin: 0;
}

.notebook_app .header-bar {
display: none;
}

.notebook_app .navbar-default {
background-color: var(--carbon-ui-background);
border: none;
}

.notebook_app .navbar-default .navbar-nav > li > a {
color: var(--carbon-text-02);
padding-left: 0;
padding-right: 1.5rem;
padding-top: 0;
background-color: transparent;
}

.notebook_app .navbar-default .navbar-nav > li > a:hover,
.notebook_app .navbar-default .navbar-nav > .open > a {
color: var(--carbon-text-02);
background-color: transparent;
}

.notebook_app .navbar-default .btn-default {
color: var(--carbon-text-02);
}

.notebook_app .navbar-default .btn-default:hover {
color: var(--carbon-text-02);
background-color: transparent;
}

.notebook_app #kernel_indicator {
color: var(--carbon-text-02);
text-align: right;
margin-right: 3em;
line-height: normal;
}

.notebook_app .navbar-btn.btn-xs {
margin-top: 0;
}

/*BUTTONS AND TOOLBAR*/

.notebook_app #maintoolbar {
padding: 0;
margin: 0;
}

.notebook_app .toolbar {
margin:0;
width: 100% !important;
/* line-height: 4.5em; */
}

.notebook_app .btn-group {
margin: 0;
border-right: solid 1px var(--carbon-ui-03);
/* height: 3em; */
display: inline-flex;
display: -webkit-inline-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-inline-flexbox;  /* TWEENER - IE 10 */
display: -webkit-inline-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
align-items: center;
line-height: 1.4rem;
padding-left: 0.675rem;
padding-top: .25rem;
padding-bottom: .25rem;
}

.notebook_app .btn-group:first-child {
padding-left: 0;
}

.notebook_app .btn-group button {
  margin-right: 0.675rem;
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  border-width: 0;
  font: inherit;
  fill: var(--carbon-interactive-01);
  color: var(--carbon-text-02);
}

.notebook_app .btn-group button:hover,
.notebook_app .btn-group button:active,
.notebook_app .btn-group button:focus {
  fill: var(--carbon-hover-primary);
  background-color: transparent;
}

.notebook_app .btn .toolbar-btn-label {
  vertical-align: middle;
}

.notebook_app .toolbar .btn-group .btn .fa {
  color: var(--carbon-interactive-01);
  font-size: 1rem;
}

.notebook_app .toolbar .btn-group .btn:hover .fa,
.notebook_app .toolbar .btn-group .btn:active .fa,
.notebook_app .toolbar .btn-group .btn:focus .fa {
  color: var(--carbon-hover-primary);
}

/*ICONS*/

.notebook_app .icon {
height: 1.25rem;
width: 1.25rem;
vertical-align: middle;
}

.icon_symbol {
fill: inherit;
}

/*SELECT MENUS*/

.notebook_app .toolbar_select {
border: none;
display: inline-block;
margin-left: .375rem;
margin-bottom: .375rem;
position: relative;
}

.notebook_app .toolbar_select::after {
position: absolute;
display: block;
bottom: 0.575rem;
right: 1rem;
width: 0; 
height: 0; 
content: '';
border-left: 0.3125rem solid transparent;
border-right: 0.3125rem solid transparent; 
border-top: 0.3125rem solid var(--carbon-interactive-01);
z-index: -1;
}

.notebook_app .toolbar_select select {
box-shadow: none;
font-family: inherit;
font-size: 0.875rem;
font-weight: 400;
box-sizing: border-box;
border-radius: 0;
line-height: 1.68;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: var(--carbon-overlay-02);
border: none;
color: var(--carbon-text-02);
margin: 0;
padding: 0;
padding-left: 0.5rem;
padding-right: 2rem;
height: 1.68rem;
text-overflow: ellipsis;
cursor: pointer;
}

/*SELECT LABELS*/
.notebook_app .toolbar_select span {
display: block;
font-size: .75rem;
font-weight: 600;
height: 1.675rem;
text-align: left;
margin: 0;
}

@media all and (min-width: 1024px) {
.notebook_app .toolbar_select span {
display: inline;
margin-right: .5rem;
}
}

/*MENUS*/
.notebook_app .dropdown-menu {
background-color: var(--carbon-ui-01);
border-color: var(--carbon-ui-03);
box-sizing: border-box;
}

.notebook_app .dropdown-menu li a {
color: var(--carbon-text-02);
padding-left: 1rem;
}

.notebook_app .dropdown-menu li a:hover {
background-color: var(--carbon-interactive-04);
color: var(--carbon-ui-01);
}

.notebook_app .dropdown-menu li.disabled a {
background-color: transparent;
color: var(--carbon-text-03);
}

.notebook_app .dropdown-submenu > a::after {
color: var(--carbon-text-02);
}

.notebook_app .dropdown-menu .divider {
background-color: var(--carbon-ui-03);
}

.notebook_app .dropdown-submenu > .dropdown-menu {
margin-left: 0;
}

/*NOTEBOOK CONTAINER*/
.notebook_app #notebook-container {
color: var(--carbon-text-02);
box-shadow: none;
border: solid thin var(--carbon-ui-03);
}

.notebook_app .btn:active {
box-shadow: none;
}

.notebook_app #notebook-container .celltoolbar {
background-color: var(--carbon-ui-02);
height: initial;
padding: 3px;
}

.notebook_app #notebook-container .celltoolbar .tag-container {
align-items: center;
}

.notebook_app #notebook-container .celltoolbar .tags-input {
align-items: center;
}

.notebook_app #notebook-container .celltoolbar .tags-input input {
border: 0;
background-color: rgba(60, 112, 178, .1);
font-size: 0.875rem;
height: 1.68rem;
border: 1px solid transparent;
box-sizing: border-box;
}

.notebook_app #notebook-container .celltoolbar .tags-input input:focus {
border-color: var(--carbon-interactive-04);
}

.notebook_app #notebook-container .btn-xs {
padding: 0 0.5rem;
line-height: 1;
color: var(--carbon-interactive-04);
font-weight: 600;
text-decoration: none;
transition: all .2s ease-in-out;
cursor: pointer;
height: 1.68rem;
border: 0.125rem solid var(--carbon-interactive-04);
background-color: transparent;
}

.notebook_app #notebook-container .btn-xs:hover,
.notebook_app #notebook-container .btn-xs:active,
.notebook_app #notebook-container .btn-xs:focus {
background-color: var(--carbon-interactive-04);
color: var(--carbon-ui-01);
}

.notebook_app #notebook-container .btn-xs.tags-dialog-btn {
padding: 0;
font-weight: 500;
display: none;
}

.notebook_app #notebook-container .cell-tag {
color: var(--carbon-text-02);
padding-right: 0.5rem;
padding-left: 0.5rem;
line-height: 1.5;
background-color: var(--carbon-ui-03);
border-radius: 0.9375rem;
}

.notebook_app #notebook-container .cell-tag:last-child::after {
display: none;
}

.notebook_app #notebook-container .cell-tag .remove-tag-btn {
color: var(--carbon-interactive-01);
cursor: pointer;
}

.notebook_app #notebook-container .cell-tag .remove-tag-btn:hover {
color: var(--carbon-hover-primary);
}

.notebook_app #notebook-container .input .run_this_cell {
  padding: 0;
  padding-top: 0.125rem;
  width: initial;
  align-self: flex-start;
  fill: var(--carbon-interactive-01);
}

.notebook_app #notebook-container .input .run_this_cell:hover {
  fill: var(--carbon-hover-primary);
}

.notebook_app #notebook-container .input .prompt {
  min-width: 13ex;
}

.notebook_app #notebook-container .prompt {
  min-width: 16.125ex;
}

/*DIALOGS*/
.notebook_app .modal-dialog {
color: var(--carbon-text-02);
font-family: 'ibm-plex-sans', 'Helvetica Neue for IBM', 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;
width: 50%;
}

.notebook_app .modal-backdrop {
opacity: 0;
visibility: hidden;
}

.notebook_app .modal-content {
border-width: 0;
border-top: 0.375rem solid var(--carbon-interactive-01);
border-radius: 0;
}

.notebook_app .modal-header {
padding-left: 4.99469%;
padding-right: 4.99469%;
padding-top: 1.5rem;
padding-bottom: 0;
border: none;
}

.notebook_app .modal-title {
font-size: 2.618em;
font-weight: 300;
color: var(--carbon-text-01);
}

.notebook_app .modal-body {
padding: 1rem 4.99469%;
}

.notebook_app .modal-footer {
border: none;
background-color: var(--carbon-ui-background);
padding-right: 4.99469%;
padding-left: 4.99469%;
}

.notebook_app .modal-body a {
color: var(--carbon-link-01);
text-decoration: none;
background-color: transparent;
}

.notebook_app .modal-body a:hover,
.notebook_app .modal-body a:focus {
text-decoration: underline;
}

.notebook_app .modal-body a:active {
color: var(--carbon-hover-primary);
}

.notebook_app .modal-dialog .btn {
box-sizing: border-box;
padding: 0 1rem;
height: 2.5rem;
border-radius: 0;
cursor: pointer;
font-weight: 600;
overflow: visible;
text-align: center;
vertical-align: middle;
font-family: inherit;
}

.notebook_app .modal-dialog .btn-default {
transition: all .2s ease-in-out;
background-color: transparent;
color: var(--carbon-interactive-01);
border: none;
}

.notebook_app .modal-dialog .btn-default:hover,
.notebook_app .modal-dialog .btn-default:focus,
.notebook_app .modal-dialog .btn-default:active  {
background-color: var(--carbon-hover-ui);
color: var(--carbon-hover-primary);
}

.notebook_app .modal-dialog .btn-primary,
.notebook_app .modal-dialog .btn-danger,
.notebook_app .modal-dialog .btn-danger:focus {
border: 2px solid var(--carbon-interactive-01);
background-color: var(--carbon-interactive-01);
color: var(--carbon-text-04);
}

.notebook_app .modal-dialog .btn-primary:hover,
.notebook_app .modal-dialog .btn-primary:focus,
.notebook_app .modal-dialog .btn-primary:active,
.notebook_app .modal-dialog .btn-danger:hover,
.notebook_app .modal-dialog .btn-danger:active {
background-color: var(--carbon-hover-primary);
border-color: var(--carbon-hover-primary);
color: var(--carbon-text-04);
}

.notebook_app .modal-dialog .item-buttons .btn-default.btn-xs {
border: none;
padding: 0.0625rem 0.3125rem;
font-size: 0.875rem;
height: initial;
}

.notebook_app .modal-dialog .item-buttons .btn-default.btn-xs:active,
.notebook_app .modal-dialog .item-buttons .btn-default.btn-xs:hover,
.notebook_app .modal-dialog .item-buttons .btn-default.btn-xs:focus,
.notebook_app .modal-dialog .item-buttons .btn-default.btn-danger:active,
.notebook_app .modal-dialog .item-buttons .btn-default.btn-danger:hover,
.notebook_app .modal-dialog .item-buttons .btn-default.btn-danger:focus {
background-color: transparent;
color: var(--carbon-hover-primary);
}

.notification_widget.ax_notebook_saved {
background-color: transparent;
padding: 0;
padding-left: 5px;
margin-left: 0.3125rem;
margin-right: 0;
margin-bottom: 0.375rem;
line-height: normal;
font-size: 0.875rem;
color: var(--carbon-support-02);
border: none;
}

.notification_widget.ax_notebook_saved:active:hover, .notification_widget.ax_notebook_saved.active:hover,
.open > .dropdown-toggle.notification_widget.ax_notebook_saved:hover, .notification_widget.ax_notebook_saved:active:focus,
.notification_widget.ax_notebook_saved.active:focus, .open > .dropdown-toggle.notification_widget.ax_notebook_saved:focus,
.notification_widget.ax_notebook_saved.focus:active, .notification_widget.ax_notebook_saved.active.focus, .open >
.dropdown-toggle.notification_widget.ax_notebook_saved.focus {
background-color: transparent;
padding: 0;
padding-left: 5px;
margin-left: 0.3125rem;
margin-right: 0;
margin-bottom: 0.375rem;
line-height: normal;
font-size: 0.875rem;
color: var(--carbon-support-02);
border: none;
}

#notification_area,
#notification_notebook,
#notification_kernel,
#notification_trusted {
line-height: normal;
}

#notification_trusted {
background-color: transparent;
padding: 0;
padding-left: 5px;
margin-left: 0.3125rem;
margin-right: 0;
margin-bottom: 0.375rem;
line-height: normal;
font-size: 0.875rem;
color: var(--carbon-interactive-04);
border: none;
}

#notification_trusted:hover,
#notification_trusted:active,
#notification_trusted:focus {
  color: var(--carbon-hover-primary);
}

/*
*
*     Spark Monitoring Style
*
*/
.flex_container {
display: flex;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
}

.vstack_container {
flex-direction: column;
-webkit-box-flex-direction: column;
-webkit-flex-direction: column;
-ms-flex-direction: column;
}

.hstack_container {
flex-direction: row;
-webkit-box-flex-direction: row;
-webkit-flex-direction: row;
-ms-flex-direction: row;
}

.right_justify_content {
justify-content: flex-start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
}

.left_justify_content {
justify-content: flex-end;
-webkit-justify-content: flex-end;
-ms-flex-pack: end;
}

.centric-aligned-items {
align-items: center;
-webkit-align-items: center;
-ms-flex-align: center;
}

.cell_state {
display: flex;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;

flex-direction: row;
-webkit-box-flex-direction: row;
-webkit-flex-direction: row;
-ms-flex-direction: row;

width: 70%;
color: black;
}

.spark_table {
display: table;
table-layout: fixed;
width: 100%;
background-color: var(--carbon-ui-01);
border: 2px solid var(--carbon-ui-03);
}

.spark_table_thead {
display: table-header-group;
vertical-align: middle;
}

.spark_table_tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}

.spark_table_tr.spark_table_header {
border-bottom: 2px solid var(--carbon-ui-03);
background-color: var(--carbon-ui-01);
}

.spark_table_tr.spark_table_job_tr.black_side {
border-bottom: 1px solid var(--carbon-ui-03);
}

.spark_table_tr.spark_table_job_tr {
border-bottom: 2px solid var(--carbon-ui-03);
border-top: 2px solid var(--carbon-ui-03);
}

.spark_table_tr.stage_row {
border-bottom: 1px solid var(--carbon-ui-03);
}

.st_header_cell {
border: none;
text-transform: uppercase;
}

.st_job_cell {
width: 15%;
text-overflow: ellipsis;
overflow: hidden;
}

.st_progress_cell {
width: 45%;
}

.st_status_cell {
width: 15%;
}

.st_duration_cell {
width: 15%;
text-overflow: ellipsis;
overflow: hidden;
}

.st_icon_cell {
width: 10%;
}

.st_icon_cell.st_content_icon_cell {
text-align: right;
padding-right: 1rem;
}

.spark_table_tbody {
display: table-row-group;
vertical-align: middle;
}

.st_cell {
display: table-cell;
padding-left: 3%;
height: 1.8rem;
text-align: left;
overflow: hidden;
text-overflow: ellipsis;
}

.job_row {
cursor:pointer;
font-weight: bold;
}

.st_cell.stage_id_cell {
overflow: hidden;
text-overflow: ellipsis;
padding-left: 5%;
}

.progress_bar_wrapper {
text-align: center;
vertical-align: middle;
height: 1.2em;
width: 97%;
}

.progress_bar_container {
height: 1.2em;
position: relative;
width: 100%;
}

.progress_bar_border {
border: 1px solid var(--carbon-ui-03);
}

.progress_bar_border_shape {
border-radius: 8px;
}

.progress_bar {
background-color:  var(--carbon-ui-02);
height: 100%;
line-height: inherit;
}

.progress_bar_mark_wrapper {
height: 100%;
position: absolute;
font-weight: normal;
}

.stage_progress_bar_container.progress_bar_mark_wrapper {
left: 50%;
}

.job_progress_bar_container.progress_bar_mark_wrapper {
left: 17%;
}

.progress_bar_mark {
height: 100%;
position: relative;;
left: -50%;
margin-top: -0.2em;
}

.progress_bar_mark_stage {
height: 100%;
position: relative;;
left: -50%;
margin-top: -0.27em;
}

.progress_bar_icon_wrapper {
height: 0.6rem;
vertical-align: middle;
width: 1.25rem;
fill: var(--carbon-text-02);
}

.state_label_wrapper {
flex: 1 1 auto;
padding-left: 5%;
text-overflow: ellipsis;
overflow: hidden;
}

.state_label_wrapper.error_label {
color: var(--carbon-support-01);
}

.icon_style {
height: 1.7rem;
vertical-align: middle;
width: 1.25rem;
}

.black_side {
border-left: 2px solid var(--carbon-interactive-04);
}

.state_right {
flex: 1 1 0;
-webkit-box-flex: 1 1 0;
-webkit-flex: 1 1 0;
-ms-flex: 1 1 0;

font-family: Helvetica, sans-serif;
font-size: 13px;
padding: 1rem 2rem 2rem 2rem;
min-width: 35rem;
}

.error_icon {
fill: var(--carbon-support-01);
}

.upper_header {
width: 100%;
padding-bottom: 0.5rem;
cursor: pointer;
}

.upper_header:hover .upper_header_hide_text_wrapper {
text-decoration: underline;
}

.upper_header_title {
width: 70%;
font-size: 12px;
font-weight: bold;
padding-left: 1rem;
}

.upper_title_control {
width: 30%;
margin-right: 1rem;
}

.icon_style.upper_header_icon {
height: 0.25rem;
vertical-align: middle;
width: 0.6rem;
}

.upper_header_hide_text_wrapper {
padding-right: 0.3rem;
font-size: 10px;
font-weight: bold;
padding-right: 0.3rem;
}

.header_underline {
border-top: 2px solid var(--carbon-ui-03);
}

.upper_header_icon_up {
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}

.spark_monitor_button {
stroke: var(--carbon-interactive-04);
}

.spark_monitor_button:hover {
stroke: var(--carbon-hover-primary);
}

/* end of file "custom.css" */
